I will be performing a exploratory data analysis on Marvel character data. The goal of this analyis is to practice developed skills and profile the data.

In [1]:
# importing libraries for EDA
import pandas as pd
import numpy as np

In [6]:
# Loading in my data

df = pd.read_csv('data\characters.csv',index_col=0 )
df

,char,charname,birthname,types,universes,birthplace,superpowers,religions,gender,occupation,memberof
index,,,,,,,,,,,
0,http://www.wikidata.org/entity/Q18754954,Silk,Cindy Moon,"mutate, comics character","Earth-616, Marvel Universe",NaN,"superhuman agility / reflexes, superhuman dura...",NaN,NaN,NaN,NaN
1,http://www.wikidata.org/entity/Q3127430,Snowbird,Narya,"demigod or quasi-deity in a work of fiction, c...",Marvel Universe,NaN,"flight, shapeshifting, superhuman strength, re...",NaN,NaN,NaN,NaN
2,http://www.wikidata.org/entity/Q546340,Thunderbird,John Proudstar,"television character, animated character, mutant",Marvel Universe,NaN,"superhuman durability, superhuman speed, super...",NaN,NaN,NaN,NaN
3,http://www.wikidata.org/entity/Q1194236,Cannonball,Samuel Zachery Guthrie,"superhero film character, animated character, ...","Earth-616, Marvel Universe",NaN,thermo-chemical energy,NaN,NaN,NaN,NaN
4,http://www.wikidata.org/entity/Q2087326,Shriek,Frances Louise Barrison,"film character, comics character",Marvel Universe,NaN,sonic scream,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
132,http://www.wikidata.org/entity/Q2275950,Shatterstar,Gaveedra Seven,"superhero film character, mutant","Mojoverse, Earth-616, Marvel Universe",NaN,"superhuman agility / reflexes, superhuman dura...",NaN,NaN,NaN,NaN
133,http://www.wikidata.org/entity/Q3453575,Rusty Collins,Russell Collins,"superhero film character, animated character, ...",Marvel Universe,NaN,pyrokinesis,NaN,NaN,NaN,NaN
134,http://www.wikidata.org/entity/Q865017,Mister Fantastic,Reed Richards,"film character, animated character, mutate","Earth-616, Marvel Universe",NaN,elasticity,NaN,NaN,NaN,NaN
135,http://www.wikidata.org/entity/Q616633,Betty Ross,Elizabeth Ross,"gamma mutate, superhero film character, harpy ...",Marvel Universe,NaN,"superhuman durability, superhuman speed, super...",NaN,NaN,NaN,NaN
136,http://www.wikidata.org/entity/Q838088,Iceman,Robert Louis Drake,"superhero film character, animated character, ...","Earth-616, Marvel Universe",NaN,cryokinesis,NaN,NaN,NaN,NaN

I see that I have 137 rows and 11 columns to work with. I'll make note of this to make sure I'm getting the output I'm asking for in the next few lines of code.

Lets check out if we have any null values and the data types of each column

In [8]:
# Checking to see what datatypes im working with, if there are 
# any null values, and how much data I have.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 0 to 136
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   char         137 non-null    object
 1   charname     137 non-null    object
 2   birthname    137 non-null    object
 3   types        137 non-null    object
 4   universes    137 non-null    object
 5   birthplace   6 non-null      object
 6   superpowers  137 non-null    object
 7   religions    6 non-null      object
 8   gender       6 non-null      object
 9   occupation   6 non-null      object
 10  memberof     6 non-null      object
dtypes: object(11)
memory usage: 12.8+ KB

Right away, I see that the following columns do not provide enough information.

Columns: birthplace, religions. gender, occupation, memberof

I don't see a need to drop anything just yet, but it's good to see what I do and don't have. Lets check if we have any duplicate records that I need to be aware of.

In [51]:
# check for duplicate records
df.duplicated().any()

False

Good. There doesn't seem be any duplicate records. I wonder if we have any duplicates in the columns themselves. I'll make a functions that goes through each column and finds duplicates within said column. It a bit over kill, but it will better cement the skills I have. Practice, pracitce, practice!

In [52]:
# checking for any duplicates

def col_dup_check(dataframe):
    """
    Checks each column within a dataframe for 
    duplicates within said column.

    Arguments:
        dataframe: a dataframe
    Returns:
        A dataframe stating which columns have 
        duplicates within themselves    
    """
    # creating a dataframe to hold the results
    dup_table = pd.DataFrame()

    # Iterating through the dataframes columns and checking if any 
    # have duplicates within themselves. The results are placed in 
    # the dup_table
    for column in list(dataframe.columns.values):
        if dataframe.duplicated(subset=column).any() == True:
            dup_table[column]=['yes']

        elif dataframe.duplicated(subset=column).all() == False:
            dup_table[column]=['no']

        # in case something goes wrong or my intention is not met, 
        # I added a way for the system to flag me.
        else:
            print('not working')
    
    return(dup_table)

        
#df[df.duplicated(subset='charname')]

In [53]:
col_dup_check(df)

,char,charname,birthname,types,universes,birthplace,superpowers,religions,gender,occupation,memberof
0,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes

I figured most columns would have duplicates within themselves, but I now know for sure that the 'char' column is the main reason why I **may** not be getting duplicates. From my understanding, the 'char' columns is a hyperlink to each characters wiki page. Lets see what happends if I run duplicated() again but without the char column. Since the columns birthplace, religions. gender, occupation, and memberof only provide six non null values out of 137, I will also remove them from the query.

In [62]:
kept_col = ['charname','birthname','types','universes','superpowers']

df[kept_col].duplicated().any()

False

Great! Now lets create a copy of this dataframe and start taking a look at the superpowers column.

In [12]:
df.superpowers

index
0      superhuman agility / reflexes, superhuman dura...
1      flight, shapeshifting, superhuman strength, re...
2      superhuman durability, superhuman speed, super...
3                                 thermo-chemical energy
4                                           sonic scream
                             ...
132    superhuman agility / reflexes, superhuman dura...
133                                          pyrokinesis
134                                           elasticity
135    superhuman durability, superhuman speed, super...
136                                          cryokinesis
Name: superpowers, Length: 137, dtype: object

In [23]:
powers = []
copy_superpowers = df.superpowers.copy()

for i in copy_superpowers:
    powers.append(i.split(', '))

print(len(powers[0]))

4

In [26]:
kept_col = ['char','charname','birthname','types','universes','superpowers']

working_df = df[kept_col].copy()